@model List<Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h6 class="display-6">
        <a asp-controller="Post" asp-action="Add">
            Добавить задачу
        </a>
    </h6>
  
        <table class="table" style="margin-top: 50px">
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Author</th>
            </tr>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.Text</td>
                    <td>@post.User.Email</td>
                    <td>
                        <a class="btn btn-warning" 
                           asp-controller="Post" 
                           asp-action="Update" 
                           asp-route-id="@post.Id">Update
                        </a>
                        <a class="btn btn-danger"
                           asp-controller="Post"
                           asp-action="Delete"
                           asp-route-postId="@post.Id">Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
</div>
